<%= render 'shared/tabs', teaching_group: @teaching_group %>

<div class="container">
  <% @assignments.each do |assignment| %>
    <p><%= assignment.title %></p>
  <% end %>
</div>

<!-- Code the view for markbook -->
