<h2 style="text-align:center; color:white;">Set new homework</h2>

<%= render 'form', teaching_group: @teaching_group, assignment: @assignment %>


<!-- .strftime("#{@poster.date.day.ordinalize} %B %Y" -->
