<%= render 'shared/tabs', teaching_group: @teaching_group %>

<div class="container">
  <div class="center-cards">
    <% @assignments.each do |assignment| %>
      <%= render 'shared/homework_card', assignment: assignment %>
    <% end %>
  </div>
</div>
