<%= render 'shared/tabs', teaching_group: @teaching_group %>
<div class="container">
  <div class="homework-cards">
    <% if current_user.teacher %>
      <div class="row">
        <% @assignments.each do |assignment| %>
          <div class="col-xs-12">
            <%= render 'shared/homework_card', assignment: assignment, child_id: params[:child_id] %>
          </div>
        <% end %>
      </div>
    <% elsif current_user.guardian %>
      <div class="row">
        <% @attempts.each do |attempt| %>
          <div class="col-xs-12">
            <%= render 'shared/homework_card', attempt: attempt, child_id: params[:child_id] %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="row">
        <% @attempts.each do |attempt| %>
          <div class="col-xs-12">
            <%= render 'shared/homework_card', attempt: attempt, child_id: params[:child_id] %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
