<%= render 'shared/tabs', teaching_group: @teaching_group %>

<div class="container">
  <% if current_user.teacher %>
  <%= link_to 'Add new homework', new_teaching_group_assignment_path(@teaching_group), class: "btn btn-default add-button" %>
  <% end %>
  <div class="center-cards">
    <% @assignments.each do |assignment| %>
      <%= render 'shared/homework_card', assignment: assignment %>
    <% end %>
  </div>
</div>
