// Specific CSS for your home-page

.home-banner {
  display: flex;
  height: 100vh;
}


.banner-title {
  flex: 0 0 50%;
}

.banner-sign-up {
  flex: 0 0 50%;
  padding-top: 100px;
  position: relative;
  z-index: 10;
  h1 {
    text-align: center;
    margin: 0px;
  }
}













// #home-page {
//   position: relative;
// }

// #overlay-title {
//   padding-top: 100px;
//   position: relative;
//   z-index: 10;
//   h1 {
//     text-align: center;
//     margin: 0px;
//   }
// }

// #carousel-example-generic {
//   position: absolute;
//   width: 100vw;
//   top: 0;
//   z-index: 1;
// }

// .padded-top {
//   padding-top: 70px;
// }
