// Import page-specific CSS files here.
@import "home";
@import "new";



.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.sidebar {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@-webkit-keyframes bg-in {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

@keyframes bg-in {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

// .floating-button {
//   position: fixed;
//   z-index: 100;
//   width: 50px;
//   height: 50px;
//   background: #E91E63;
//   color: #FFF;
//   font-size: 2em;
//   border-radius: 50%;
//   top: 30vh;
//   right: 10%;
//   margin-top: -25px;
//   display: -webkit-box;
//   display: -moz-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//   -webkit-align-items: center;
//   align-items: center;
//   -webkit-justify-content: center;
//   justify-content: center;
//   -webkit-flex-direction: column;
//   flex-direction: column;
//   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
//   -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
//   -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
//   -webkit-transition: all 0.3s linear;
//   -o-transition: all 0.3s linear;
//   -moz-transition: all 0.3s linear;
//   -ms-transition: all 0.3s linear;
//   -kthtml-transition: all 0.3s linear;
//   transition: all 0.3s linear;
}

// .floating-button:hover {
//   box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
//   -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
//   -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
//   margin-top: -30px;
// }

// .floating-button:active {
//   box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.4);
//   -moz-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.4);
//   -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.4);
//   margin-top: -32px;
//   background: #EC407A;
// }

// section {
//   position: relative;
//   margin: 0 auto;
//   margin-bottom: 20px;
//   max-width: 940px;
//   min-height: 80px;
//   padding: 20px;
//   background: #FFF;
//   border-radius: 5px;
//   border-bottom: 3px solid rgba(0, 0, 0, 0.15);
// }

// section h1 {
//   text-transform: uppercase;
//   letter-spacing: 1px;
//   font-size: 1.3em;
//   color: #555;
// }

// section p {
//   margin: 15px 0 0 0;
//   font-weight: 300;
//   line-height: 1.4em;
//   font-size: 0.95em;
//   color: #888;
// }

//cards starts



// @-webkit-keyframes bg-in {
//   from {
//     -webkit-transform: scale(0);
//             transform: scale(0);
//   }
// }

// @keyframes bg-in {
//   from {
//     -webkit-transform: scale(0);
//             transform: scale(0);
//   }
// }

h1{
text-align: center;
color:white;
}



// .added h1 {
//   text-align: center;
//   padding-top: 35px;
//   font-size: 1.3em;
// }




@media screen and (max-width: 600px) {
  header {
    height: 50vh;
  }
  .floating-button {
    top: 90vh;
    bottom: 10px;
    right: 10px;
  }
  .teacher_button {
    display: block;
  }
  section h1 {
    margin: 30px 0 0 0;
  }
  .added h1 {
    padding-top: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .floating-button {
    right: 10px;
  }
}
