.white-container {
  margin-top:10px;
  background: white;
  margin-bottom: 10px;
  padding: 30px;
  position: relative;
  border-radius: 2px;
}

.show-page-header {
  display: flex;
  justify-content: space-between;
  h2 {
    border-bottom: 2px solid $teacher-blue;
    padding-bottom: 5px;
    font-size: 20px;
    margin: 0;
  }
  h3 {
    font-size:20px;
    background-color: $teacher-blue;
    border-radius: 5px;
    color: white;
    margin: 0;
    padding: 10px 20px;
  }
  .warning {
    background-color: orange;
  }
}

.show-page-dates {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  .date {
    span {
      font-family: $headers-font;
      font-size: 12px;
      font-weight: bold;
      opacity: .7;
    }
    p {
// to do
    }
  }
}

.show-commands {
  display: flex;
  justify-content: flex-end;
  .btn-white {
    margin-right: 10px;
  }
}

.show-instructions {
  margin-top: 10px;
  span {
    font-family: $headers-font;
    font-size: 12px;
    font-weight: bold;
    opacity: .7;
    }
    p {
// to do
    }
  .show-instructions-guardian {
  background-color: #f9e8bb;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  padding-top: 2px;
  }

}

.show-completed {
  display: flex;
  margin-top: 10px;
  span {
    font-family: $headers-font;
    font-size: 12px;
    font-weight: bold;
    opacity: .7;
  }
  .display-student-avatars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: -75px;
    text-align: center;
      span {
      font-size: 15px;
      color: $teacher-blue;
      opacity: .7;
    }
    p {
      margin-bottom: 1px;
      font-weight: bold;
      opacity: .7;
    }
  }
}

.avatar-student {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-bottom: 5px;
}


.avatar-student-all {
  padding-right: 30px;
  margin-bottom: 5px;
}

.pending {
  p {
    color: red;
  }
}
