.white-container {
  margin-top:20px;
  background: white;
  margin-bottom: 10px;
  padding: 50px;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}

.show-page-header {
  display: flex;
  justify-content: space-between;
  .teacher-underline {
    border-bottom: 2px solid $teacher-blue;
    padding-bottom: 5px;
    font-size: 20px;
    margin: 0;
  }
  .guardian-underline {
    border-bottom: 2px solid $parent-green;
    padding-bottom: 5px;
    font-size: 20px;
    margin: 0;
  }
  .student-underline {
    border-bottom: 2px solid $student-orange;
    padding-bottom: 5px;
    font-size: 20px;
    margin: 0;
  }
  .warning {
    background-color: orange;
    font-size:20px;
    border-radius: 5px;
    color: $white;
    margin: 0;
    padding: 10px 20px;
  }
  .ribbon-right {
    position: absolute;
    transform: rotate(45deg);
    right: -44px;
    padding: 5px 40px;
    top: 25px;
  }
  .guardian-warning {
  background-color: orange;
  font-size:20px;
  border-radius: 5px;
  color: $white;
  margin: 0;
  padding: 10px 20px;
  }
  .guardian-ribbon-right {
    position: absolute;
    transform: rotate(45deg);
    right: -44px;
    padding: 5px 35px;
    top: 43px;
  }
  .great {
    font-size:20px;
    background-color: rgba( 98, 213, 118, 0.1);
    border-radius: 5px;
    color: $parent-green;
    margin: 0;
    padding: 10px 20px;
  }
  .percentage-marked {
    font-size:20px;
    background-color: rgba(0, 122, 186, 0.1);
    border-radius: 5px;
    color: $teacher-blue;
    margin: 0;
    padding: 10px 20px;
  }
}

.show-page-dates {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  .date {
    span {
      font-family: $headers-font;
      font-size: 12px;
      font-weight: bold;
      opacity: .7;
    }
    p {
// to do
    }
  }
}


.show-commands {
  display: flex;
  justify-content: flex-end;
  .btn-white {
    margin-right: 10px;
  }
}

.show-instructions {
  margin-top: 10px;
  span {
    font-family: $headers-font;
    font-size: 12px;
    font-weight: bold;
    opacity: .7;
    }
    p {
// to do
    }
  .show-instructions-guardian {
  background-color: #f9e8bb;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  padding-top: 2px;
  margin-top: 25px;
  }

}

.show-completed {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  span {
    font-family: $headers-font;
    font-size: 12px;
    font-weight: bold;
    opacity: .7;
  }
  .display-student-avatars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: -75px;
    text-align: center;
      span {
      font-size: 18px;
      color: $teacher-blue;
      opacity: .7;
    }
    p {
      margin-bottom: 1px;
      font-weight: bold;
      opacity: .7;
    }
  }
}

.avatar-student {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-bottom: 5px;
}


.avatar-student-all {
  padding-right: 30px;
  margin-bottom: 5px;
}

.pending {
  p {
    color: red;
    font-size: 15px;
  }
}


@media(max-width: 720px) {
  .show-page-dates {
    display: block;
    /* re-define your grid for mobile and tablet */
  }
  .show-page-header {
    display: flex;
    flex-direction: column-reverse;
    h3 {
      font-size: 16px;
      margin-bottom: 10px;
      width: 100%;
      text-align: center;
    }
    /* re-define your grid for mobile and tablet */
  }
}

