body { background:
  linear-gradient(90deg,

    $teacher-blue 0%,
    #7ccaff 100%
    );
}


body {
  background: linear-gradient(#782ef7, #23e8ef);
}

.min-height-content {
  min-height: calc(100vh - 70px);
  margin-left: 50px;
}

