<div class="banner_bar-wagon">
  <!-- Logo -->
  <a href="/" class="banner_bar-wagon-brand">
    <img src="#" alt=".">
  </a>

  <!-- Right Navigation -->
  <div class="banner_bar-wagon-right hidden-xs hidden-sm">


    <a href="" class="banner_bar-wagon-item banner_bar-wagon-link">Subject and Form group</a>

    <!-- Profile picture with dropdown list -->
    <div class="banner_bar-wagon-item">
      <div class="dropdown">
        <%= image_tag "chevron_4.png", height: 50, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right banner_bar-wagon-dropdown-menu">
          <li><a href="#">ForM group and subject name</a></li>
          <li><a href="#">ForM group and subject name</a></li>
          <li><a href="#">ForM group and subject name</a></li>
        </ul>
      </div>
    </div>
  </div>
