<div class="homework_card">
  <div class="homework_card-titles">
    <span>
    <p class="homework-title"><%= assignment.title %></p>
    </span>
    <p class="homework-date">Due <%= assignment.date_due.strftime("%A #{assignment.date_due.day.ordinalize} %B") %></p>
  </div>
  <% if assignment.marked %>
    <div class="homework-status homework-marked">
      <p>Marked</p>
    </div>
  <% elsif assignment.published %>
    <div class="homework-status homework-set">
      <p>Set</p>
    </div>
  <% else %>
    <div class="homework-status homework-draft">
      <p>Released</p>
    </div>
  <% end %>
  <%= link_to '', teaching_group_assignment_path(params[:teaching_group_id], assignment), class: 'homework-link' %>
</div>
