<div class="homework_card">
  <div class="homework_card-titles">
    <span>
    <h2>Mt5/Pt7 <span class="h3-card"> - Maths A Level</span></h2>
    </span>
    <p>Due 22nd September 2018</p>
  </div>
  <div class="not-set-btn btn btn-default">
    <%= link_to 'Not set yet'%>
  </div>
</div>
