<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('https://res.cloudinary.com/duspt82gb/image/upload/v1536168318/background.png')">
  <%= image_tag 'logo-teacher.png', class: 'logo' %>
<div class="banner-title">
  <h1>Homework organisation made <strong>easy</strong>, for <strong>everyone</strong>.</h1>
</div>
<div class="banner-sign-up">
  <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn btn-default" %>
</div>





</div>

