<div class="home-banner" style="background-image: url('https://res.cloudinary.com/duspt82gb/image/upload/v1534947776/view_in_room.jpg');">
  <img src="logo-teacher.png">
<div class="banner-title">
  <h2>Homework Monitor</h2>
  <h3>Homework organisation made <strong>easy</strong>, for <strong>everyone</strong></h3>
</div>
<div class="banner-sign-up">
  <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn btn-default" %>
</div>





</div>
