<div class="home-banner" style="background-image: url('https://res.cloudinary.com/duspt82gb/image/upload/v1534947776/view_in_room.jpg');">
  <div id="overlay-title">
    <h1>Homework Monitor</h1>
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn btn-default" %>
  </div>






</div>
