<h1>...........TeachingGroups#index</h1>

<div class="sidebar"></div>
<nav class="main-menu">
            <ul>

                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            Form room
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                            Set Homework
                        </span>
                    </a>

                </li>

                </li>


                <li>
                   <a href="#">
                       <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Calender
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Markbook
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="cards">

          <section class="row">
            <div class="col s12 m3 l2">
              <div class="icon">
              <i class="material-icons">layers</i>
              </div>
            </div>
            <div class="col s12 m9 l10">
              <h1>A good UX Web Design</h1>
              <p>LT/ MT 2  Maths GCSE Higher tier</p>
            </div>
          </section>

          <section class="row">
            <div class="col s12 m3 l2">
              <div class="icon">
              <i class="material-icons">layers</i>
              </div>
            </div>
            <div class="col s12 m9 l10">
              <h1>Responsive for all devices</h1>
              <p>LT/ MT 2  Maths GCSE Higher tier</p>
            </div>
          </section>

          <section class="row">
            <div class="col s12 m3 l2">
              <div class="icon">
              <i class="material-icons">layers</i>
              </div>
            </div>
            <div class="col s12 m9 l10">
              <h1>A multitude of extensions</h1>
              <p>LT/ MT 2  Maths GCSE Higher tier</p>
            </div>
          </section>

          <section class="row">
            <div class="col s12 m3 l2">
              <div class="icon">
              <i class="material-icons">layers</i>
              </div>
            </div>
            <div class="col s12 m9 l10">
              <h1>+30 videos tutorial</h1>
              <p>LT/ MT 2  Maths GCSE Higher tier</p>
            </div>
          </section>

          <section class="added" id="section0">
            <h1>IT'S A NEW ELEMENT !</h1>
          </section>

        </div>



