<h1> Form List </h1>
<<%= render'shared/sidebar' %>

<div class="cards">
  <div class="card">
    <div class="card-titles">
      <h1>LT/ MT 2</h1>
      <p>LT/ MT 2  Maths GCSE </p>
    </div>
    <div class="card-actions">
      <a href="#" class="btn-set">Set </a>
      <a href="#" class="btn-mark">Mark </a>
    </div>
  </div>

  <div class="card">
    <div class="card-titles">
      <h1>LT/ MT 2</h1>
      <p>LT/ MT 2  Maths GCSE </p>
    </div>
    <div class="card-actions">
      <a href="#" class="btn-set">Set </a>
      <a href="#" class="btn-mark">Mark </a>
    </div>
  </div>

  <div class="card">
    <div class="card-titles">
      <h1>LT/ MT 2</h1>
      <p>LT/ MT 2  Maths GCSE </p>
    </div>
    <div class="card-actions">
      <a href="#" class="btn-set">Set </a>
      <a href="#" class="btn-mark">Mark </a>
    </div>


  </div>
  <div class="card">
    <div class="card-titles">
      <h1>LT/ MT 2</h1>
      <p>LT/ MT 2  Maths GCSE </p>
    </div>
    <div class="card-actions">
      <a href="#" class="btn-set">Set </a>
      <a href="#" class="btn-mark">Mark </a>
    </div>
</div>
