<div class="container">
  <%= render'shared/sidebar' %>
  <p>This page will default to the most recent open assignment</p>
  <% @teaching_group.assignments.each do |assignment| %>
    <p><%= assignment.date_created %></p>
  <% end %>
</div>
