/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $alert-blue;
}
.alert-warning {
  background: $red;
}












#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 70px;
    min-width: 100%;
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    top: 140px;
    width: 100%;
    padding: 20px;
}
