/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-teacher {
  background: $teacher-blue;
}

.alert-guardian {
  background: $guardian-green;
}

.alert-info {
  background: $student-orange;
}

.alert-warning {
  background: $red;
}












