.cards {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  transition: .2s;
  margin-bottom: 20px;
  width: 640px;
  min-height: 50px;
  padding: 5px;
  background: #FFF;
  border-radius: 5px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  h1 {
    letter-spacing: 1px;
    font-size: 1.3em;
    color: #555;
  }

  p {
    font-weight: 300;
    line-height: 1.4em;
    font-size: 0.95em;
    color: #888;
  }
}

.card-titles {
  position: relative;
  flex: 1 0 auto;
  h1 {
    text-align: left;
  }
}
.btn-set {
  color: #555;
  background: #ccc;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s ease;
  margin-right: 20px;
  z-index: 2;
}
.btn-set:hover {
  color: white;
  opacity: 1;
  background: #4A94AA;
  text-decoration: none;
  color: white;
  z-index: 2;
}

.btn-mark {
  color: #555;
  background: #ccc;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s ease;
  z-index: 2;
}
.btn-mark:hover {
  opacity: 1;
  background: #9D8CD7;
  text-decoration: none;
  color: white;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.card:hover {
  transform: scale(1.02);
  border: 2px solid $teacher-blue;
}


// Sandrine temporary style

.markbook-card {

  background-color: white;
  margin: 20px;
  transition: .2s;
  margin-bottom: 20px;
  width: 840px;
  min-height: 50px;
  padding: 5px;
  background: #FFF;
  border-radius: 5px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.15);
  // display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.attempt-flex {
  display: flex;
  justify-content: space-between;
}

