.center-cards {
 // TO BE DONE
}

.homework_cards {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.homework_card {
  height: 100px;
  transition: .2s;
  margin-bottom: 20px;
  width: 1000px;
  padding: 0px 15px;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.homework-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 400px;
  letter-spacing: 1px;
  color: $teacher-blue;
  margin-top: 15px;
}

.homework-date {
  line-height: 1.4em;
  font-size: 0.95em;
  color: $medium-gray;
}

.homework-status {
  text-align: center;
  width: 120px;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background 0.3s ease;
  margin-right: 20px;
  z-index: 3;
  text-decoration: none;
  border: none;
  p {
    color: white;
    margin: 0;
  }
}

.homework-draft {
  background: $medium-gray;
}

.homework-set {
  background: $orange;
}

.homework-marked {
  background: $green;
}

.homework-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.homework-link:hover {
  opacity: 0.05;
}
