.homework-cards {
}

.homework-card {
  height: 100px;
  transition: .2s;
  margin-bottom: 5px;
  // padding: 0px 15px;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.homework-card-titles {
  margin-left: 15px;
  p {
    margin: 0;
  }
}

.homework-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  // flex: 1 1 400px;
  width: 35vw;
  letter-spacing: 1px;
  margin-top: 0px;
}

.homework-teacher {
  color: $teacher-blue;
}

.homework-student {
  color: $student-orange;
}

.homework-guardian {
  color: $parent-green;
}

.homework-date {
  line-height: 1.4em;
  font-size: 0.95em;
  color: $medium-gray;
}

.homework-status {
  text-align: right;
  flex: 0 1 auto;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background 0.3s ease;
  margin-right: 16px;
  z-index: 3;
  text-decoration: none;
  border: none;
  p {
    color: white;
    margin: 0;
  }
}

.homework-draft {
  background: $medium-gray;
}

.homework-fully-marked {
  background: $green;
}

.homework-partially-marked {
  background: $orange;
}

.homework-under-marked {
  background: $red;
}

.homework-student-mark {
  background: $student-orange;
}

.homework-guardian-pending-mark {
  background: $medium-gray
}

.homework-guardian-mark {
  background: $parent-green
}

.homework-link-teacher {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: $teacher-blue;
  opacity: 0;
}

.homework-link-teacher:hover {
  opacity: 0.1;
}
.homework-link-guardian {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: $parent-green;
  opacity: 0;
}

.homework-link-guardian:hover {
  opacity: 0.1;
}
.homework-link-student {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: $student-orange;
  opacity: 0;
}

.homework-link-student:hover {
  opacity: 0.1;
}

.not-set-hwcard {
h3 {
    font-size:20px;
    background-color: $teacher-blue;
    border-radius: 5px;
    color: white;
    margin: 0;
    padding: 10px 20px;
  }
  .warning {
    background-color: orange;
  }
  .ribbon-right {
    position: absolute;
    transform: rotate(45deg);
    right: -44px;
    padding: 5px 40px;
    top: 25px;
  }
}

