.panel-body {

  transition: .2s;
  margin-bottom: 5px;
  padding: 0px 15px;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-shadow: 0px 5px 5px grey;
}
.panel-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  // flex: 1 1 400px;
  width: 35vw;
  letter-spacing: 1px;
  margin-top: 15px;
}

.panel-teacher {
  color: $teacher-blue;
}

.panel-panel-default {

    // height: 100px;
    transition: .2s;
    margin-bottom: 5px;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;


}

// .panel-date {
//   line-height: 1.4em;
//   font-size: 0.95em;
//   color: $medium-gray;
// }

// .panel-status {
//   text-align: center;
//   width: 180px;
//   padding: 10px 15px;
//   border-radius: 4px;
//   transition: background 0.3s ease;
//   margin-right: 20px;
//   z-index: 3;
//   text-decoration: none;
//   border: none;
  .markbook-p {
    color: #0070BA ;
    margin: 0;
  }
// // }

// .panel-draft {
//   background: $medium-gray;
// }

// .panel-fully-marked {
//   background: $green;
// }

// .panel-partially-marked {
//   background: $orange;
// }

// .panel-under-marked {
//   background: $red;
// }

// .panel-student-mark {
//   background: $student-orange;
// }

// .panel-guardian-mark {
//   background: $parent-green
// }

// .panel-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   z-index: 2;
//   background: black;
//   opacity: 0;
// }

// .panel-link:hover {
//   opacity: 0.05;
// }
