.markbook-card {
  height: 100px;
  // transition: .2s;
  // padding: 0px 15px;
  background: #FFF !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // position: relative;
}

.markbook-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

.modal-style {
  background: $teacher-blue !important;
  color: white;
}

.markbook-status {
  text-align: right;
  flex: 0 1 40vw;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background 0.3s ease;
  margin-right: 20px;
  z-index: 3;
  text-decoration: none;
  border: none;
  p {
    color: $teacher-blue;
    margin: 0;
  }
}

.markbook-no-border {
  margin-right: 0;
  margin-bottom: 0;
}

.markbook-group {
  margin-bottom: 5px !important;
  border-radius: 5px !important;
}

.markbook-name {
  flex: 0 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.markbook-mark {
  flex: 0 0 100px;
  text-align: center;
  margin-right: 10px;
}

.markbook-comment {
  flex: 1 1 auto;
}

.markbook-action {
  flex: 0 0 auto;
  button {
    width: 70px;
    text-align: center !important;
  }
}

.header {
  color: $teacher-blue;
}

.attempt-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light-gray;
  padding: 5px 0;
  p {
    margin-bottom: 0;
  }
}

.panel-heading {
  position: relative !important;
}

.panel-title {
  color: $teacher-blue;
  a {
    text-decoration: none !important;
  }
  a:hover {
    text-decoration: none !important;
    color: $teacher-blue !important;
  }
}
