.tabs {
  padding-bottom: 25px;
}

.tab-link-student, .tab-link-teacher, .tab-link-teacher {
  color: #333333;
  padding: 20px;
}

.tab-link-student.active {
  border-bottom: 4px solid $student-orange;
  padding-bottom: 5px;
}

.tab-link-teacher.active {
  border-bottom: 4px solid $teacher-blue;
  padding-bottom: 5px;
}

.tab-link-guardian.active {
  border-bottom: 4px solid $parent-green;
  padding-bottom: 5px;
}





